@model List< InScreening_sprint_2.Models.Funcionario>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .titulo {
            
            margin-left: 37%;
        }

        .tabela {
            margin-top: 5%;
            margin-left: 33%;
            text-align: left;
        }


    </style>
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">

</head>

<body>


    <div class="btn-link-flash" role="alert" align="center">
 
    </div>

    <h1 class="titulo">Lista de funcionarios</h1>



    <table class="tabela" bgcolor="black" width="500">

        <tr bgcolor="grey" align="center">
            <th width="100">Nome</th>
            <th width="100">Cpf</th>
            <th width="100">Email</th>
            <th width="100">Editar</th>
    
        </tr>
        <tbody>
            @foreach (var funcionario in Model)
            {
                <tr bgcolor="lightgrey" align="center">
                    <td>@funcionario.Nome</td>
                    <td>@funcionario.Cpf</td>
                    <td>@funcionario.Email</td>
                    <td>
                        <a href="">Editar</a>
                        <a asp-controller="Funcionario" asp-action="Deletar" asp-route-id="@funcionario.Id">Deletar</a>
                    </td>
                </tr>
            }
       
           
        </tbody>

    </table>

</body>
</html>