<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>
        .formulario {
            margin-top: 10%;
            margin-left: 25%;
            width: 50%
        }

        .titulo {
            margin-left: 48%
        }

        .titulo2 {
            margin-left: 24%
        }

        .btn {
            margin-left: 48%
        }

        .criar {
            margin-left: 45%
        }

        .aa {
            margin-left: 5%;
            font-size: 50px;
            margin-top: 155%
        }
    </style>
</head>
<body>
    @model InScreening_sprint_2.Models.Triagem

    <form asp-controller="Triagem" asp-action="Alterar" method="post">
        <h1 class="titulo2">Cadastrar Funcionario</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="titulo">Data de Inicio dos sintomas</label>
            <input name="DataInicio" type="text" class="form-control" id="exampleInputEmail1" asp-for="DataInicio">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Data de fim dos sintomas</label>
            <input name="Datafim" type="text" class="form-control" id="exampleInputPassword1" asp-for="DataFim">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Sintomas</label>
            <input name="Sintomas" type="text" class="form-control" id="exampleInputPassword1" asp-for="Sintomas">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Prioridade</label>
            <input name="Prioridade" type="text" class="form-control" id="exampleInputPassword1" asp-for="Prioridade">
        </div>



        <input type="hidden" name="Id" value="@Model.id">

        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
    </form>

</body>
</html>
