<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .titulo {
            margin-left: 41%;
        }

        .tabela {
            margin-top: 5%;
            margin-left: 33%;
            text-align: left;
        }

    </style>
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">

</head>

<body>


    <div class="btn-link-flash" role="alert" align="center">
    </div>

    <h1 class="titulo">Lista de triagens</h1>



    <table class="tabela" bgcolor="black" width="500">

        <tr bgcolor="grey" align="center">
            <th width="100">Triagem</th>
            <th width="100">Nome</th>
            <th width="100">Data</th>
            <th width="100">Status</th>
            <th width="100">Exame</th>
            <th width="100">Horario</th>
   

        </tr>
        <tbody>

            <tr bgcolor="lightgrey" align="center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         
            </tr>

        </tbody>

    </table>

</body>
</html>