<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>
        .formulario {
            margin-top: 4%;
            margin-left: 25%;
            width: 50%
        }

        .titulo {
            margin-left: 48%
        }

        .titulo2 {
            margin-left: 24%
        }

        .btn {
            margin-left: 48%
        }

        .criar {
            margin-left: 45%
        }

        .aa {
            margin-left: 5%;
            font-size: 50px;
            margin-top: 15%
        }
    </style>
</head>
<body>


    <form class="formulario" asp-controller="Triagem"  asp-action="CadastrarTriagem" method="post">
        <h1 class="titulo2">Triagem</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="titulo">Data Inicio</label>
            <input name="Datainicio" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Data fim</label>
            <input name="Datafim" type="text" class="form-control" id="exampleInputPassword1">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Sintomas</label>
            <input name="Sintomas" type="text" class="form-control" id="exampleInputPassword1">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Prioridade</label>
            <input name="Prioridade" type="text" class="form-control" id="exampleInputPassword1">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />

    </form>
</body>
</html>
