<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>
        .formulario {
            margin-top: 0%;
            margin-left: 25%;
            width: 50%
        }

        .titulo {
            margin-left: 48%
        }

        .btn {
            margin-left: 48%
        }

        .criar {
            margin-left: 45%
        }

        .aa {
            margin-left: 5%;
            font-size: 50px;
            margin-top: 155%
        }

        .titulo2{
            margin-left:40%;
        }

        .titulo3{
            margin-left:42%
        }
    </style>
</head>
<body>

    <form asp-controller="User" asp-action="Cadastrar" method="post">
        <h1 class="titulo2">Cadastro</h1>
        <br />

        <div class="mb-3">
            <label for="" class="titulo">Nome</label>
            <input name="Nome" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Cpf</label>
            <input name="Cpf" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Email address</label>
            <input name="Email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Senha</label>
            <input name="Senha" type="password" class="form-control" >
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Rg</label>
            <input name="Rg" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Orgao Emissor</label>
            <input name="Orgao_emissor" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Filiacao Paterna</label>
            <input name="F_paterna" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Filiacao Materna</label>
            <input name="F_materna" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Data de nascimento</label>
            <input name="Nascimento" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Sexo</label>
            <input name="Sexo" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>



        <h3 class="titulo3">Endereco</h3>


        <div class="mb-3">
            <label for="" class="titulo">Cep</label>
            <input name="Cep" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Rua</label>
            <input name="Rua" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Cidade</label>
            <input name="Cidade" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Complemento</label>
            <input name="Complemento" type="text" class="form-control" aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Estado</label>
            <input name="Estado" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Numero</label>
            <input name="Numero" type="text" class="form-control"  aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        

    </form>
</body>
</html>
