<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>
        .formulario {
            margin-top: 0%;
            margin-left: 25%;
            width: 50%
        }

        .titulo {
            margin-left: 48%
        }

        .btn {
            margin-left: 48%
        }

        .criar {
            margin-left: 45%
        }

        .aa {
            margin-left: 5%;
            font-size: 50px;
            margin-top: 155%
        }

        .titulo2{
            margin-left:40%;
        }

        .titulo3{
            margin-left:42%
        }
    </style>
</head>
<body>


    <form class="formulario">
        <h1 class="titulo2">Cadastro</h1>
        <br />
        <div class="mb-3">
            <label for="" class="titulo">Nome</label>
            <input name="nome" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Cpf</label>
            <input name="cpf" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Password</label>
            <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Rg</label>
            <input name="Rg" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Orgao Emissor</label>
            <input name="oe" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Filiacao Paterna</label>
            <input name="" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Filiacao Materna</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Data de nascimento</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Sexo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <h3 class="titulo3">Endereco</h3>

        <div class="mb-3">
            <label for="" class="titulo">Cep</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Rua</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Cidade</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Complemento</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Estado</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="titulo">Numero</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>










        <button type="submit" class="btn btn-primary">Submit</button>
        

    </form>
</body>
</html>
