<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>

        .titulo {
  
            margin-left: 49%
        }

        .btn {
            margin-left: 47%
        }

        

        .titulo2{
            margin-left:44%;
        }

        .titulo3{
            margin-left:46%
        }

        .escrever{
            width:800px;
            margin-left: 21%;
        }
    </style>
</head>
<body>

    <form asp-controller="User" asp-action="CadastrarPaciente" method="post">
        <h1 class="titulo2">Cadastro</h1>
        <br />

        <div class="mb-3">
            <label for="" class="titulo">Nome</label>
            <input class="escrever" name="Nome" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Cpf</label>
            <input class="escrever" name="Cpf" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Email address</label>
            <input class="escrever" name="Email" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Senha</label>
            <input class="escrever" name="Senha" type="text" class="form-control" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Rg</label>
            <input class="escrever" name="Rg" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Orgao Emissor</label>
            <input class="escrever" name="Orgao_emissor" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Filiacao Paterna</label>
            <input class="escrever" name="F_paterna" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Filiacao Materna</label>
            <input class="escrever" name="F_materna" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Data de nascimento</label>
            <input class="escrever" name="Nascimento" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Sexo</label>
            <input class="escrever" name="Sexo" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>
        <br />


        <h3 class="titulo3">Endereco</h3>


        <div class="mb-3">
            <label for="" class="titulo">Cep</label>
            <input class="escrever" name="Cep" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Rua</label>
            <input class="escrever" name="Rua" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Cidade</label>
            <input class="escrever" name="Cidade" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Complemento</label>
            <input class="escrever" name="Complemento" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Estado</label>
            <input class="escrever" name="Estado" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>


        <div class="mb-3">
            <label for="" class="titulo">Numero</label>
            <input class="escrever" name="Numero" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        

    </form>
</body>
</html>
