<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <style>
        .formulario {
            margin-top: 10%;
            margin-left: 25%;
            width: 50%
        }

        .titulo {
            margin-left: 49%
        }

        .titulo2 {
            margin-left: 46%
        }

        .btn {
            margin-left: 48%
        }

        .criar {
            margin-left: 48%
        }

    </style>
</head>
<body>


    <form asp-controller="User" asp-action="LogarPaciente" method="post">
        <h1 class="titulo2">Login </h1>
        <br />

        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Email</label>
            <input name="Email" type="text" class="form-control" id="exampleInputPassword1" required> 

        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="titulo">Senha</label>
            <input name="Senha" type="text" class="form-control" id="exampleInputPassword1" required>

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
        <a class="criar" asp-area="" asp-controller="User" asp-action="CadastroPage">Criar Conta</a>
    </form>
</body>
</html>
